<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Narrow Down Your Chinese Menu Choice</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body ng-app="menuApp">
    <div class="container" ng-controller="MenuSearchController as menuCtrl">
      <h1>Narrow Down Your Chinese Menu Choice</h1>

      <!-- Search Input -->
      <div class="form-group">
        <input type="text" ng-model="menuCtrl.searchTerm" placeholder="Search term" class="form-control">
      </div>

      <!-- Search Button -->
      <div class="form-group narrow-button">
        <button class="btn btn-primary" ng-click="menuCtrl.narrowItDown()">Narrow It Down For Me!</button>
      </div>

      <!-- Loader (while waiting for data) -->
      <div class="loader" ng-if="menuCtrl.isLoading"></div>

      <!-- Error Message -->
      <div ng-if="menuCtrl.errorMessage" class="alert alert-danger">
        {{ menuCtrl.errorMessage }}
      </div>

      <!-- Found Items List -->
      <div ng-if="menuCtrl.found.length > 0">
        <ul>
          <li ng-repeat="item in menuCtrl.found">
            {{ item.name }} ({{ item.short_name }}) - {{ item.description }}
            <button class="btn btn-danger" ng-click="menuCtrl.removeItem($index)">Don't want this one!</button>
          </li>
        </ul>
      </div>

      <!-- No items found -->
      <div ng-if="menuCtrl.found.length === 0 && !menuCtrl.isLoading && !menuCtrl.errorMessage">
        No items match your search.
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
